<a href="https://colab.research.google.com/github/swarthyPig/SM13/blob/master/notebook/ch8_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch8_exercises_Final.ipynb

Q1. 문자열 바꾸기
> 다음과 같은 문자열이 있다.

```
a:b:c:d
```

> 문자열의 split와 join 함수를 사용하여 위 문자열을 다음과 같이 고치시오.

```
a#b#c#d
```

In [0]:
# [Q1] Code-1 

a = 'a:b:c:d'
b = a.split(":")

print(b)

c = "#".join(b)
print(c)

['a', 'b', 'c', 'd']
a#b#c#d

In [0]:
# [Q1] Code-2

print("a:b:c:d".replace(":","#"))

a#b#c#d

## Q2. 딕셔너리 값 추출하기
> 다음은 딕셔너리의 a에서 'C'라는 key에 해당하는 value를 출력하는 프로그램이다.
```
>>> a = {'A':90, 'B':80}
>>> a['C']
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
KeyError: 'C'
```
>> a 딕셔너리에는 'C'라는 key가 없으므로 위와 같은 오류가 발생한다.  
>>'C'에 해당하는 key 값이 없을 경우 오류 대신 70을 얻을 수 있도록 수정하시오.

In [0]:
# [Q2] Code-1

a = {'A':90, 'B':80}
print(a.get('C', 70))

70

In [0]:
# [Q2] Code-2

b = {'A':90, 'B':80}

if a.get('C') is None: # 존재하지 않으면 None반환
    print(70)

70

## Q3. 리스트의 더하기와 extend 함수
> 다음과 같은 리스트 a가 있다.
```
a = [1, 2, 3]
```
> 리스트 a에 [4, 5]를 + 기호를 사용하여 더한 결과는 다음과 같다.
```
>>> a = [1, 2, 3]
>>> a = a + [4,5]
>>> a
[1, 2, 3, 4, 5]
```
> 리스트 a에 [4,5]를 extend를 사용하여 더한 결과는 다음과 같다.
```
>>> a = [1, 2, 3]
>>> a.extend([4, 5])
>>> a
[1, 2, 3, 4, 5]
```

> ### + 기호를 사용하여 더한 것과 extend한 것의 차이점이 있을까? 있다면 그 차이점을 설명하시오.

In [1]:
# [Q3] Explain (코드와 주석으로 설명하시오)

# + 는 두 리스트가 합쳐진 새로운 리스트 반환
a = [1, 2, 3] 
print(id(a)) # 139681989801992
a = a + [4,5]
print(a) 
print(id(a)) # 139681980249096

print("")

# extend는 주소값이 변하지 않고 유지됨 
b = [1, 2, 3]
print(id(b)) # 139681989803912
b.extend([4, 5])
print(b)
print(id(b)) # 139681989803912

140345165020040
[1, 2, 3, 4, 5]
140345165020360

140345165020040
[1, 2, 3, 4, 5]
140345165020040

## Q4. 리스트 총합 구하기
> 다음은 A학급 학생의 점수를 나타내는 리스트이다. 다음 리스트에서 50점 이상 점수의 총합을 구하시오.
```
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
```

In [0]:
# [Q4] Code-1

A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]

result = 0
while A:                # A 리스트에 값이 있는 동안
    mark = A.pop()      # A리스트의 가장 마지막 항목을 하나씩 뽑아냄
    if mark >= 50:      # 50점 이상의 점수만 더함
        result += mark

print(result)           # 481 출력

481

In [0]:
# [Q4] Code-2

print(sum(list(filter(lambda x : x >= 50, [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]))))

481

## Q5. 피보나치 함수
> 첫 번째 항의 값이 0이고 두 번째 항의 값이 1일 때, 이후에 이어지는 항은 이전의 두 항을 더한 값으로 이루어지는 수열을 피보나치 수열이라고 한다.
```
0, 1, 1, 2, 3, 5, 8, 13, 21, ...
```
> 입력을 정수 n으로 받았을 때, n 이하까지의 피보나치 수열을 출력하는 함수를 작성해 보자.

In [0]:
# [Q5] Code-1
# Time complex is O(2**n)

def fib(n):
    if n == 0 : return 0          # n이 0일 때는 0을 반환
    if n == 1 : return 1          # n이 1일 때는 1을 반환
    return fib(n-2) + fib(n-1)    # n이 2 이상일 때는 그 이전의 두 값을 더하여 반환

for i in range(10):
    print(fib(i), end=" ")

0 1 1 2 3 5 8 13 21 34

In [7]:
# [Q5] Code-3

# DP 알고리즘의 Memoized 방식 
# Recursion를 사용하지만 불필요한 부분을 제거함
# Time complex is O(n)
# Fn = Fn-1 + Fn-2

def fib_memoized(n, memo):
    if memo[n] is not None:
        return memo[n]
    if n == 1 or n == 2: # 수열의 첫번째와 두번째는 1이다
        return 1
    else :
        result = fib_memoized(n-1, memo) + fib_memoized(n-2, memo) # 결과값을 변수에 담아 기억시킨다
    memo[n] = result
    return result

def fib_memo(n):
    _list = [0]
    memo = [None] * (n + 1)

    for i in range(1,n):
        _list.append(fib_memoized(i, memo))
    return _list

print(fib_memo(100))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099, 53316291173, 86267571272, 139583862445, 225851433717, 365435296162, 591286729879, 956722026041, 1548008755920, 2504730781961, 4052739537881, 6557470319842, 10610209857723, 17167680177565, 27777890035288, 44945570212853, 72723460248141, 117669030460994, 190392490709135, 308061521170129, 498454011879264, 806515533049393, 1304969544928657, 2111485077978050, 3416454622906707, 5527939700884757, 8944394323791464, 14472334024676221, 23416728348467685, 37889062373143906, 61305790721611591, 99194853094755497, 160500643816367088, 259695496911122585, 420196140727489673, 679891637638612258, 1100087778366101931, 1779979416004714189, 2880067194370816120, 4660046610375530309, 7540113804746346429, 12200160415121876738, 19740274219868223167, 31940434634990099905, 51680708854858323072, 83621143489848422977, 135301852344706746049, 218922995834555169026]

In [9]:
# [Q5] Code-3

# DP 알고리즘의 Bottom-Up Approach 방식 
# Recursion 을 사용하지 않는 방법
# Time complex is O(n)
# Fn = Fn-1 + Fn-2

def fibo_bottom_up(n):

    if n == 1 or n == 2: # 수열의 첫번째와 두번째는 1이다
        return 1

    bottom_up = [None] * (n + 1) # 구할 번째의 수보다 하나 크도록 list를 생성한다.
    bottom_up[1] = 1 # 계산을 위해 list의 1번째에 1을 넣어준다.
    bottom_up[2] = 1 # 계산을 위해 list의 2번째에 1을 넣어준다.

    for i in range(3, n + 1):
        bottom_up[i] = bottom_up[i-1] + bottom_up[i-2] # 수열에 따라 배열에 값을 채워나간다.

    return bottom_up[n]

def solution(n):
    _list2 = [0]
    for i in range(1,n):
        _list2.append(fibo_bottom_up(i))
    return _list2


solution(100)

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229,
 832040,
 1346269,
 2178309,
 3524578,
 5702887,
 9227465,
 14930352,
 24157817,
 39088169,
 63245986,
 102334155,
 165580141,
 267914296,
 433494437,
 701408733,
 1134903170,
 1836311903,
 2971215073,
 4807526976,
 7778742049,
 12586269025,
 20365011074,
 32951280099,
 53316291173,
 86267571272,
 139583862445,
 225851433717,
 365435296162,
 591286729879,
 956722026041,
 1548008755920,
 2504730781961,
 4052739537881,
 6557470319842,
 10610209857723,
 17167680177565,
 27777890035288,
 44945570212853,
 72723460248141,
 117669030460994,
 190392490709135,
 308061521170129,
 498454011879264,
 806515533049393,
 1304969544928657,
 2111485077978050,
 3416454622906707,
 5527939700884757,
 8944394323791464,
 14472334024676221,
 23416728348467685,
 37889062373143906,
 61305790721611591,
 99194853094755497,
 160500643816367088,
 259695496911122585,
 420196140727489673,
 679891637638612258,
 1100087778366101931,
 1779979416004714189,
 2880067194370816120,
 4660046610375530309,
 7540113804746346429,
 12200160415121876738,
 19740274219868223167,
 31940434634990099905,
 51680708854858323072,
 83621143489848422977,
 135301852344706746049,
 218922995834555169026]

## Q6. 숫자의 총합 구하기
> 사용자로부터 다음과 같은 숫자를 입력받아 입력받은 숫자의 총합을 구하는 프로그램을 작성하시오. (단 숫자는 콤마로 구분하여 입력한다.)

```
65,45,2,3,45,8
```

In [0]:
# [Q6] Code-1

user_input = input("숫자를 입력하세요: ")
numbers = user_input.split(",")
total = 0
for n in numbers:
    total += int(n)    # 입력은 문자열이므로 숫자로 변환해야 한다.
print(total)

숫자를 입력하세요: 65, 45, 2, 3, 45, 8
168

In [10]:
# [Q6] Code-2

print(sum(list(map(int, input().strip().split(',')))))

65,45,2,3,45,8
168

## Q7. 한 줄 구구단
> 사용자로부터 2~9의 숫자 중 하나를 입력받아 해당 숫자의 구구단을 한 줄로 출력하는 프로그램을 작성하시오.

> 실행 예)
```
구구단을 출력할 숫자를 입력하세요(2~9): 2
2 4 6 8 10 12 14 16 18
```

In [0]:
# [Q7] Code-1

user_input = input("구구단을 출력할 숫자를 입력하세요(2~9):")
dan = int(user_input)       # 입력 문자열을 숫자로 변환
for i in range(1, 10):
    print(i*dan, end= ' ')  # 한 줄로 출력하기 위해 줄 바꿈 문자 대신 공백 문자를 마지막에 출력한다.

구구단을 출력할 숫자를 입력하세요(2~9):2
2 4 6 8 10 12 14 16 18

In [0]:
# [Q7] Code-2

num = int(input("구구단을 출력할 숫자를 입력하세요(2~9):"))

print(" ".join([str(num * i) for i in range(1,10)]))

구구단을 출력할 숫자를 입력하세요(2~9):3
3 6 9 12 15 18 21 24 27

## Q8. 역순 저장
> 다음과 같은 내용의 파일 abc.txt가 있다.
```
AAA
BBB
CCC
DDD
EEE
```
> 이 파일의 내용을 다음과 같이 역순으로 바꾸어 저장하시오.
```
EEE
DDD
CCC
BBB
AAA
```

In [0]:
# [Q8] Code-1

f = open('abc.txt', 'r')
lines = f.readlines()    # 모든 라인을 읽음
f.close()

lines.reverse()          # 읽은 라인을 역순으로 정렬

f = open('abc.txt', 'w')
for line in lines:
    line = line.strip()  # 포함되어 있는 줄 바꿈 문자 제거
    f.write(line)
    f.write('\n')        # 줄 바꿈 문자 삽입
f.close()

In [0]:
# [Q8] Code-2

with open('abc.txt', 'r') as f:
    lines = f.readlines()

with open('abc.txt', 'w') as f :
    for i in lines[::-1]:
        f.write(i.strip())
        f.write('\n')

## Q9. 평균값 구하기
> 다음과 같이 총 10줄로 이루어진 sample.txt 파일이 있다. sample.txt 파일의 숫자 값을 모두 읽어 총합과 평균 값을 구한 후 평균 값을 result.txt 파일에 쓰는 프로그램을 작성하시오.
```
70
60
55
75
95
90
80
80
85
100
```

In [0]:
# [Q9] Code-1

f = open("sample.txt")
lines = f.readlines( )  # sample.txt를 줄 단위로 모두 읽는다.
f.close( )

total = 0
for line in lines:
    score = int(line)  # 줄에 적힌 점수를 숫자형으로 변환한다.
    total += score
average = total / len(lines)

f = open("result.txt", "w")
f.write(str(average))
f.close()

In [0]:
# [Q9] Code-2

with open("sample.txt") as f :
    lines = f.readlines()

with open("result.txt", "w") as f:
    average = sum(list(map(lambda x : int(x.strip()), lines)))/len(lines)
    f.write(str(average))

## Q10. 사칙연산 계산기
> 다음과 같이 동작하는 클래스 Calculator를 작성하시오.
```
>>> cal1 = Calculator([1,2,3,4,5])
>>> cal1.sum() # 합계
15
>>> cal1.avg() # 평균
3.0
>>> cal2 = Calculator([6,7,8,9,10])
>>> cal2.sum() # 합계
40
>>> cal2.avg() # 평균
8.0
```

In [0]:
# [Q10] Code-1

class Calculator:
    def __init__(self, numberList): 
        self.numberList = numberList

    def add(self): 
        result = 0
        for num in self.numberList: 
            result += num
        return result

    def avg(self):
        total = self.add()
        return total / len(self.numberList)

cal1 = Calculator([1,2,3,4,5]) 
print(cal1.add())
print(cal1.avg())

cal2 = Calculator([6,7,8,9,10]) 
print(cal2.add())
print(cal2.avg())

15
3.0
40
8.0

In [0]:
# [Q10] Code-2

class Calculator2(object):

    def __init__(self, num_list):
        self.num_list = num_list
    
    def add(self):
        return sum(self.num_list)

    def avg(self):
        return sum(self.num_list)/len(self.num_list)

cal1 = Calculator2([1,2,3,4,5]) 
print (cal1.add())
print (cal1.avg())

cal2 = Calculator2([6,7,8,9,10]) 
print (cal2.add())
print (cal2.avg())

15
3.0
40
8.0



---

# 다음부터는 다음 주 (wk11)에 완성.



---

## Q11. 모듈 사용 방법
> ./doit 디렉터리에 mymod.py 파이썬 모듈이 있다고 가정해 보자. 명령 프롬프트 창에서 파이썬 셸을 열어 이 모듈을 import해서 사용할 수 있는 방법을 모두 기술하시오. (즉 다음과 같이 import mymod를 수행할 때 오류가 없어야 한다.)
```
>>> import mymod
>>>
```

In [0]:
!mkdir doit
# 실행 후 새로 고침!
# mymod.py 를 업로드한다.

In [0]:
!mv mymod.py ./doit
# 실행 후 새로 고침!

In [0]:
# [Q11] Code-1

In [0]:
# [Q11] Code-2

## Q12. 오류와 예외 처리
> 다음 코드의 실행 결과를 예측하고 그 이유에 대해 설명하시오.

```
result = 0

try:
    [1, 2, 3][3]
    "a"+1
    4 / 0
except TypeError:
    result += 1
except ZeroDivisionError:
    result += 2
except IndexError:
    result += 3
finally:
    result += 4

print(result)
```

In [0]:
# [Q12] Explain (코드와 주석으로 설명하시오)

## Q13. DashInsert 함수
> DashInsert 함수는 숫자로 구성된 문자열을 입력받은 뒤 문자열 안에서 홀수가 연속되면 두 수 사이에 - 를 추가하고, 짝수가 연속되면 * 를 추가하는 기능을 갖고 있다. DashInsert 함수를 완성하시오.
```
입력 예시: 4546793
출력 예시: 454*67-9-3
```

In [0]:
# [Q13] Code-1

In [0]:
# [Q13] Code-2

## Q14. 문자열 압축하기
> 문자열을 입력받아 같은 문자가 연속적으로 반복되는 경우에 그 반복 횟수를 표시해 문자열을 압축하여 표시하시오.
```
입력 예시: aaabbcccccca
출력 예시: a3b2c6a1
```

In [0]:
# [Q14] Code-1

In [0]:
# [Q14] Code-2

## Q15. Duplicate Numbers
> 0 ~ 9의 문자로 된 숫자를 입력받았을 때, 이 입력값이 0 ~ 9의 모든 숫자를 각각 한 번씩만 사용한 것인지 확인하는 함수를 작성하시오.
```
입력 예시: 0123456789 01234 01234567890 6789012345 012322456789
출력 예시: true false false true false
```

In [0]:
# [Q15] Code-1

In [0]:
# [Q15] Code-2

## Q16. 모스 부호 해독
> 문자열 형식으로 입력받은 모스 부호(dot:. dash:-)를 해독하여 영어 문장으로 출력하는 프로그램을 작성하시오.

- 글자와 글자 사이는 공백 1개, 단어와 단어 사이는 공백 2개로 구분한다.
- 예를 들어 다음 모스 부호는 "HE SLEEPS EARLY"로 해석해야 한다.
```
.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--
```
> 모스부호 규칙 표
```
문자 부호	문자   부호
A	 .-	    N	    -.
B	 -...	O	    ---
C	 -.-.	P	    .--.
D	 -..	Q	    --.-
E	 .	    R	    .-.
F	 ..-.	S	    ...
G	 --.	T	    -
H	 ....	U	    ..-
I	 ..	    V	    ...-
J	 .---	W	    .--
K	 -.-	X	    -..-
L	 .-..	Y	    -.--
M	 --	    Z	    --..
```

In [0]:
# [Q16] Code-1

In [0]:
# [Q16] Code-2

## Regular Expression
- import re

## Q17. 기초 메타 문자
> 다음 중 정규식 a[.]{3,}b과 매치되는 문자열은 무엇일까?


```
acccb
a....b
aaab
a.cccb
```

In [0]:
# [Q17] Code

## Q18. 문자열 검색
> 다음 코드의 결괏값은 무엇일까?

```
>>> import re
>>> p = re.compile("[a-z]+")
>>> m = p.search("5 python")
>>> m.start() + m.end()
```

In [0]:
# [Q18] Code

## Q19. 그루핑
> 다음과 같은 문자열에서 휴대폰 번호 뒷자리인 숫자 4개를 ####로 바꾸는 프로그램을 정규식을 사용하여 작성하시오.

```
park 010-9999-9988
kim 010-9909-7789
lee 010-8789-7768
```

In [0]:
# [Q19] Code

## Q20. 전방 탐색
> 다음은 이메일 주소를 나타내는 정규식이다. 이 정규식은 park@naver.com, kim@daum.net, lee@myhome.co.kr 등과 매치된다. 긍정형 전방 탐색 기법을 사용하여 .com, .net이 아닌 이메일 주소는 제외시키는 정규식을 작성하시오.

```
.*[@].*[.].*$
```

In [0]:
# [Q20] Code

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch8_exercises_id.ipynb