<a href="https://colab.research.google.com/github/swarthyPig/SM13/blob/master/ch02/ch2_04_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 리스트

### 리스트: list 란?

In [0]:
odd = [1, 3, 5, 7, 9]
print(odd)

print('*'*40)

# 여러 가지 리스트
a = []   # list 초기화
print(a)

print('*'*40)

b = [1, 2, 3]
print(b)

print('*'*40)

c = ['Life', 'is', 'too', 'short'] # 문자열을 원소로 가지는 list
print(c)

print('*'*40)

d = [1, 2, 'Life', 'is'] # 문자열과 숫자를 같이 원소로 가지는 list
print(d)

print('*'*40)

e = [1, 2, ['Life', 'is']] # 이중 list
print(e)

print('*'*40)
a = list()
a   # []

[1, 3, 5, 7, 9]
****************************************
[]
****************************************
[1, 2, 3]
****************************************
['Life', 'is', 'too', 'short']
****************************************
[1, 2, 'Life', 'is']
****************************************
[1, 2, ['Life', 'is']]
****************************************

[]

### 리스트: 리스트의 인덱싱과 슬라이싱

In [0]:
a = [1, 2, 3]
print(a)

print('*'*40)

print(a[0])
# print(a[3]) # error -> out of range
print(a[0]+a[2])
print(a[-1])

print('*'*40)

a = [1, 2, 3, ['a', 'b', 'c']]
print(a)

print('*'*40)

print(a[0])
print(a[3])
print(a[-1])
# chack this: a[0] + a[-1] -> TypeError

[1, 2, 3]
****************************************
1
4
3
****************************************
[1, 2, 3, ['a', 'b', 'c']]
****************************************
1
['a', 'b', 'c']
['a', 'b', 'c']

### Indexing inner list

In [0]:
a = [1, 2, 3, ['a', 'b', 'c']]
print(a)

print('*'*40)

print(a[-1][0])
print(a[-1][-1])

[1, 2, 3, ['a', 'b', 'c']]
****************************************
a
c

### 삼중 리스트에서 인덱싱하기

In [0]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]
print(a)

print('*'*40)

print(a[2])
print(a[2][-1])
print(a[2][-1][0]) # 'Life'

print('*'*40)

#
# 리스트의 슬라이싱
#
a = [1, 2, 3, 4, 5]
print(a)

print('*'*40)

print(a[0:2])
a = "12345"
print(a)
print(a[0:2])

print('*'*40)

a = [1, 2, 3, 4, 5]
print(a)

print('*'*40)

print(a[0:2])
print(a[2:])
print(a[0:4:2])  # a[start:end:step]

print('*'*40)

#
# 중첩된 리스트에서 슬라이싱하기
#
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
print(a)
print(a[2:5])
print(a[3][:2])

[1, 2, ['a', 'b', ['Life', 'is']]]
****************************************
['a', 'b', ['Life', 'is']]
['Life', 'is']
Life
****************************************
[1, 2, 3, 4, 5]
****************************************
[1, 2]
12345
12
****************************************
[1, 2, 3, 4, 5]
****************************************
[1, 2]
[3, 4, 5]
[1, 3]
****************************************
[1, 2, 3, ['a', 'b', 'c'], 4, 5]
[3, ['a', 'b', 'c'], 4]
['a', 'b']

### 인덱싱, 슬라이싱 연습

In [0]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(a)

print('*'*40)

print(x[0:3])

print('*'*40)

print(x[3:])

print('*'*40)

print(x[:6])

print('*'*40)

print(x[0:6:2])  # x[:6:2]

print('*'*40)

print(x[-1])

print('*'*40)

print(x[-3])

print('*'*40)

print(x[:-3])

print('*'*40)

print(x[::-1])

print('*'*40)

print(x[-3::-1])

[1, 2, 3, ['a', 'b', 'c'], 4, 5]
****************************************
[1, 2, 3]
****************************************
[4, 5, 6, 7, 8, 9]
****************************************
[1, 2, 3, 4, 5, 6]
****************************************
[1, 3, 5]
****************************************
9
****************************************
7
****************************************
[1, 2, 3, 4, 5, 6]
****************************************
[9, 8, 7, 6, 5, 4, 3, 2, 1]
****************************************
[7, 6, 5, 4, 3, 2, 1]

 ### 리스트 연산하기

In [0]:
#
# 리스트 더하기(+)
#
a = [1, 2, 3]
print(a)
b = [4, 5, 6]
print(b)
print(a + b)

print('*'*40)

#
# 리스트 반복하기(*)
#
print(a * 3)

print('*'*40)

#
# 리스트 길이구하기
#
print(len(a))

print('*'*40)

#
# 초보자가 범하기 쉬운 리스트 연산 오류
#
a = [1, 2, 3]
print(a)
#print(a[2] + "hi")
print(str(a[2]) + "hi")

print('*'*40)

#
# 리스트의 수정과 삭제
#
a = [1, 2, 3]
a[2] = 4  # list is mutable!!!
print(a)

print('*'*40)

#
# del 함수 사용해 리스트 요소 삭제하기
#
a = [1, 2, 3]
print(a)
del a[1]
print(a)

print('*'*40)

a = [1, 2, 3, 4, 5]
print(a)
del a[2:]
print(a)

[1, 2, 3]
[4, 5, 6]
[1, 2, 3, 4, 5, 6]
****************************************
[1, 2, 3, 1, 2, 3, 1, 2, 3]
****************************************
3
****************************************
[1, 2, 3]
3hi
****************************************
[1, 2, 4]
****************************************
[1, 2, 3]
[1, 3]
****************************************
[1, 2, 3, 4, 5]
[1, 2]


### Author: swarthypig
### 파이썬 코드: ch2_04_list.py