<a href="https://colab.research.google.com/github/swarthyPig/SM13/blob/master/ch02/ch2_06_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 튜플: tuple 이란?

## 리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 둘러싼다.
## 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.

### 여러 가지 튜플

In [0]:
even = (2, 4, 6, 8)
# 여러 가지 튜플

t1 = ()  # 튜플 초기화
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ("a", "b", ("ab", "cd"))

# t2 = (1,)처럼 단지 1개의 요소만을 가질 때는 요소 뒤에
# 콤마(,)를 반드시 붙여야 한다는 것과
# t4 = 1, 2, 3처럼 괄호( )를 생략해도 무방하다.

### 튜플의 요소값을 지우거나 변경하려고 하면 어떻게 될까?

### -> 에러가 발생한다

### 인덱싱하기

In [0]:
#
# 인덱싱하기
#
t1 = (1, 2, "a", "b")
print(t1[0])
print(t1[3])

1
b

### 슬라이싱하기

In [0]:
#
# 슬라이싱하기
#
t1 = (1, 2, "a", "b")
print(t1[1:])
print(t1[2:-1])  # ('a',)
print(t1[2:])

(2, 'a', 'b')
('a',)
('a', 'b')

### 튜플 더하기

In [0]:
#
# 튜플 더하기
#
t1 = (1, 2, "a", "b")
t2 = (3, 4)

print(t1 + t2)

(1, 2, 'a', 'b', 3, 4)

### 튜플 곱하기

In [0]:
#
# 튜플 곱하기
#
t2 = (3, 4)
id(t2)

t2 * 3
id(t2)

t2 = t2 * 3
id(t2)

****************************************

140276843309384

### 튜플 길이 구하기

In [0]:
#
# 튜플 길이 구하기
#

t1 = (1, 2, "a", "b")
len(t1)

4

### Author: swarthyPig
### 파이썬 코드: ch2_06_tuple.py